<html>
  <head>
    <link rel="stylesheet" href="../static/css/Records.css" />
  </head>
  <body>
    <div class="search-container">
      <input
        type="text"
        id="searchInput"
        placeholder="Search"
        oninput="searchTable() ; updateDownloadLink();"
      />
      <select
        id="searchOption"
        style="
          background-color: #f2f2f2;
          color: #333;
          font-size: 13px;
          padding: 4px;
          border-radius: 6px;
        "
      >
        <option value="license">License Plate</option>
        <option value="speed">Speed</option>
        <option value="date">Date</option>
      </select>
    </div>

    <!-- <div class="page-container">
      <input type="number" id="pageInput" placeholder="Page">
  </div> -->
    <table id="myTable">
      <tr>
        <th>SN</th>
        <th>licenseplate no</th>
        <th>Speed</th>
        <th>limit</th>
        <th>Date</th>
        <th>Vehicle Photo</th>
        <th>License Plate photo</th>
      </tr>

      {% for Record in Record_list %}
      <tr>
        <td>{{Record.pk}}</td>
        <td>{{Record.licenseplate_no}}</td>
        <td>{{Record.speed}}</td>
        <td>50</td>
        <td class="date-column">{{Record.date|date:"d/m/Y"}}</td>
        <td>
          <img
            src="{{Record.vehicle_image.url }}"
            alt="Vehicle Image"
            width="200"
            heigth="200"
          />
        </td>
        <td>
          <img
            src="{{Record.license_plate_image.url }}"
            alt="Vehicle Image"
            width="100"
            heigth="100"
          />
        </td>
      </tr>

      {% endfor %}
    </table>

    <p align="center" id="notFoundMessage" style="display: none">
      Record Not Found
    </p>

    <p align="right">
      <a
        id="downloadCsvLink"
        href="{% url 'download_csv' %}"
        class="download-btn"
        >Download CSV</a
      >
    </p>
  </body>
</html>

<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    const table = document.getElementById("myTable");
    const rows = table.getElementsByTagName("tr");

    for (let i = 1; i < rows.length; i++) {
      const limitCell = rows[i].getElementsByTagName("td")[3];
      const speedCell = rows[i].getElementsByTagName("td")[2];

      const limit = parseInt(limitCell.innerText);
      const speed = parseInt(speedCell.innerText);

      if (speed > limit) {
        speedCell.style.backgroundColor = "red";
      }
    }
  });

  function searchTable() {
    const input = document.getElementById("searchInput").value.toUpperCase();
    const option = document.getElementById("searchOption").value;
    const table = document.getElementById("myTable");
    const rows = table.getElementsByTagName("tr");
    let matchFound = false;

    for (let i = 1; i < rows.length; i++) {
      const licensePlateCell = rows[i].getElementsByTagName("td")[1];
      const licensePlate = licensePlateCell.innerText.toUpperCase();

      const speedCell = rows[i].getElementsByTagName("td")[2];
      const speed = speedCell.innerText.toUpperCase();

      const dateCell = rows[i].getElementsByTagName("td")[4];
      const date = dateCell.innerText.toUpperCase();

      if (option === "license" && licensePlate.includes(input)) {
        rows[i].style.display = "";
        matchFound = true;
        highlightCell(licensePlateCell, input);
      } else if (option === "speed" && speed.includes(input)) {
        rows[i].style.display = "";
        matchFound = true;
        highlightCell(speedCell, input);
      } else if (option === "date" && date.includes(input)) {
        rows[i].style.display = "";
        matchFound = true;
        highlightCell(dateCell, input);
      } else {
        rows[i].style.display = "none";
      }
    }

    const notFoundMessage = document.getElementById("notFoundMessage");
    notFoundMessage.style.display = matchFound ? "none" : "block";
  }

  function highlightCell(cell, input) {
    const cellText = cell.innerText;
    const regex = new RegExp(`(${input})`, "gi");
    const highlightedText = cellText.replace(
      regex,
      '<span style="background-color: yellow;">$1</span>'
    );
    cell.innerHTML = highlightedText;
  }
</script>
